:root{
    --colorOne:#65A584;
    --colorTwo: #E7D378;
    --colorThree: #CAAA5A;
    --colorFour: #E08752;
    --colorFive:#63383D;
    --colorSix: #ffffff;
    --fontSize: 16px;
}

body {
    background: linear-gradient(100deg, var(--colorOne) 0%, var(--colorSix) 100%);;
    font-size: 1.4rem;
}
.headerbar{
    animation: myAnim 3s ease 2s 1 alternate both;   
}
@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}