:root{
    --colorOne:#65A584;
    --colorTwo: #E7D378;
    --colorThree: #CAAA5A;
    --colorFour: #E08752;
    --colorFive:#63383D;
    --colorSix: #ffffff;
	--colorFooter: #080B0C;
    --fontSize: 16px;
}

body {
    background: linear-gradient(0deg, var(--colorFour) 0%, var(--colorSix) 100%);
    font-size: 1.4rem;
}
.headerbar{
    display: flex; 
	justify-content: space-between;
	margin: .4em; 
}

.LogoGreenWaveCoast {
	width: 5em;
	border-radius: 100px;
	opacity: 0.90;

}
.headerbar h1 {
	display: none;
}
.headerbar li,
.headerbar a{
	list-style-type: none;
	text-decoration: none;
}

.footerAllPages div{
	width: 100%;
	color: var(--colorSix);
	display: flex;
	flex-direction: column;
	opacity: 0.90;
	background-color: var(--colorFooter);
	justify-content: space-evenly;
}
.footerAllPages a {
	color:var(--colorSix)
}
