<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
    <link rel="stylesheet" href="../public/style/style.css"/>
    <script
      src="https://kit.fontawesome.com/ae0f99c19c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Marhey:wght@300..700&display=swap" rel="stylesheet">
<!-- GOOGLE FONT -->

  </head>
  <body>
    <header>
      <div class="headerbar">
      
        
        <a href="home.html"
          ><img
            class="LogoGreenWaveCoast"
            src="IMAGES/2024.png"
            alt="Logo GreenWaveCoast"
        /></a>
        <nav>
          <div class="navegationBar">
            <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-bars fa-lg"></i></a></div>
          <div class = "header-bar-menu">
          
          
          <ul>
            
                    
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="sustainability.html">Sustainability</a></li>
            <li><a href="resources.html">Resources</a></li>
            
            <!-- <div class ="contactUsNav"> -->
               <li><a href="login.html">Sign in</a></li>
               <div class="contactUsNav">
                <li><a href="contact.html">Contact us</a></li></div>
               <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #ffffff;"></i></a></li>
              
          </ul>
        </nav>
      </div>

        
      </div>
    </header>

    <main>
      <div class="title-home-page">
      <h1>BUILD A SUSTAINABLE FUTURE ONE WAVE AT A TIME</h1>
    </div>
    
      <!-- PRUEBA -->
      <!-- <div class="wrapper">
        <svg>
          <text
            x="50%"
            y="50%"
            dy=".35em"
            text-anchor="middle"
            style="font-size: 80px"
          >
            GreenWaveCoast
          </text>
        </svg>


        
      </div> -->

      <!-- <h1>GreenWaveCoast</h1> -->
      <div class='maindiv'>

      <div class="containerhome">        
          <div class="headerMain">
            <h2><a href="about.html">About us</h2>
          </div>

          <div class="textContainer">
            <p>
              At GreenWaveCoast, we're passionate advocates for sustainable
              living in the breathtaking coastal region of Clatsop County. Our
              mission is simple yet profound: to inspire and empower
              individuals, families, and communities to embrace
              environmentally-friendly practices that preserve our natural
              resources, protect our ecosystems, and promote a harmonious
              relationship between humans and nature. We believe that
              sustainability isn't just a buzzword; it's a way of life—one that
              benefits both present and future generations. By fostering a
              culture of conservation, innovation, and responsibility, we strive
              to create a vibrant and resilient community where people and the
              planet thrive together.
            </p></a>
          
          <!-- <div class=" imagesMainPage"> -->
            <a href="about.html"><img src="./IMAGES/helena-lopes-PGnqT0rXWLs-unsplash.jpg" alt="Team Working together"></a>
          <!-- </div> -->

          
        </div>

        
          <div class="headerMain">
            <h2><a href="sustainability.html">Sustainability</h2>
          </div>
          <div class="textContainer">
            <p>
              At GreenWaveCoast, sustainability is at the heart of everything we
              do. We believe that true sustainability encompasses not only
              environmental stewardship but also social equity and economic
              viability. It's about finding balance—meeting the needs of the
              present without compromising the ability of future generations to
              meet their own needs. From reducing our carbon footprint and
              conserving natural resources to supporting local farmers and
              artisans, we're committed to fostering a culture of sustainability
              that permeates every aspect of our lives. By embracing sustainable
              practices and championing innovative solutions, we can create a
              world where people and the planet thrive together in harmony.
            </p></a>
            <a href="sustainability.html"><img src="../public/images/noah-buscher-x8ZStukS2PM-unsplash.jpg" alt="Sustainability team"></a>
         
        </div>

        <div class="containerMain">
          <div class="headerMain">
            <h2><a href="resources.html">Resources</h2>
          </div>
          <div class="textContainer">
            <p>
              At GreenWaveCoast, we understand the importance of providing
              valuable resources to support individuals and communities on their
              journey towards sustainability. Whether you're looking for
              practical tips on reducing your carbon footprint, information on
              local recycling programs, or guides to eco-friendly living, our
              comprehensive collection of resources has you covered. Explore our
              articles, videos, and downloadable materials to discover
              actionable steps you can take to make a positive impact on the
              planet right from your own home. Additionally, our directory of
              local businesses and organizations committed to sustainability
              makes it easy to support like-minded initiatives in Clatsop
              County. Together, let's harness the power of knowledge and
              collaboration to create a more sustainable future for all.
            </p></a>
            <a href="resources.html"><img src="IMAGES/pexels-andrew-neel-2312369.jpg" alt="Sustainability team"></a>
          </div>
        </div>
      </div>
    </div>
    </main>
    <footer>
      
      <div class="footerAllPages">

        <div class="subscription-container">
          <h2>Subscribe to our Newsletter!</h2>
          <p>Receive the latest updates and special offers directly in your inbox.</p>
          
          <form>
              <label for="email">Email</label>
              <input type="email" id="email" name="email" placeholder="YourEmail@example.com" required>
              <input type="submit" value="Send Message">
          </form>
      </div>
        
          
      <div class=" followUs">
          <h2>Follow us</h2>
          <ul>
              <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook fa-bounce fa-lg"></i></a></li>
              <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-x fa-bounce fa-lg"></i></a></li>
              <li><a href="#" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram fa-bounce fa-lg"></i></a></li>
          </ul>
      </div>
  
      <div class="copyFooter">
          <p>&copy; 2024 Angely Lizcano / GreenWaveCoast</p>
      </div>
      </div>
  </footer>
  
</body>
</html