<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>Registration - Sustainability</title>
    <link rel="stylesheet" href="./Style/style.css" />
    <script
      src="https://kit.fontawesome.com/ae0f99c19c.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Marhey:wght@300..700&display=swap" rel="stylesheet">
    <!-- GOOGLE FONT -->
  </head>
  <body>
    <header>
      <div class="headerbar">
        <a href="home.html"
          ><img
            class="LogoGreenWaveCoast"
            src="IMAGES/2024.png"
            alt="Logo GreenWaveCoast"
        /></a>

        <nav>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="sustainability.html">Sustainability</a></li>
            <li><a href="resources.html">Resources</a></li>
            <li><a href="login.html">Sign in</a></li>
            <!-- <div class ="contactUsNav"> -->
            <div class="contactUsNav">
              <li><a href="contact.html">Contact us</a></li>
            </div>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="contact-form">
        <h1>Join the Change</h1>
        <p>
          Do you have an innovative idea? Want to be part of the change? Create
          a profile and access advanced options.
        </p>
        <form action="process_registration.php" method="post">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />

          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />

          <input type="submit" value="Create Profile">
        </form>
        <p><a href="reset.html">Forgot Your Password?</a></p>
        <p><a href="create.html">Create Account</a></p>
      </div>
      
    </main>
    

    <footer>
      <div class="footerAllPages">
        <div class="subscription-container">
          <h2>Subscribe to our Newsletter!</h2>
          <p>
            Receive the latest updates and special offers directly in your
            inbox.
          </p>

          <form>
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="YourEmail@example.com"
              required
            />
            <input type="submit" value="Send Message" />
          </form>
        </div>

        <div class="followUs">
          <h2>Follow us</h2>
          <ul>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer"
                ><i class="fa-brands fa-facebook fa-bounce fa-lg"></i
              ></a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer"
                ><i class="fa-solid fa-x fa-bounce fa-lg"></i
              ></a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer"
                ><i class="fa-brands fa-instagram fa-bounce fa-lg"></i
              ></a>
            </li>
          </ul>
        </div>

        <div class="copyFooter">
          <p>&copy; 2024 Angely Lizcano / GreenWaveCoast</p>
        </div>
      </div>
    </footer>
  </body>
</html>
